<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GeolocationService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>GeolocationServiceSample 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>GeolocationServiceSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B4A2A4718D18DA800558DE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B4A2A5C18D18DA900558DE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B887B6E18D18958007D0DBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B887B8F18D18958007D0DBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
